
.nav {
  padding-right: 5%;
  margin-top: 1%;
}

.navbar-default {
  background: rgb(16, 22, 78);
  border: none;
}

.nav-tabs {
  float: right;
  border: none;
}

h1.logo {
  margin-left: 5%;
  display: inline-block;
  color: white;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  font-size: 16px;
  padding-right: 10px;
  color: white;
}

.nav-tabs>li>a {
  color: white;
}

.header {
  width: 100%;
  display: block;
}

img.banner {
  width: 100%;
  position: absolute;
}

img.name {
  height: 25%;
  top: 25%;
  position: absolute;
  left: 3%;
}

.header>h3 {
  position: absolute;
  left: 3%;
  bottom: 27%;
  color: white;
  font-size: 42px;
}

div.about {
    position: absolute;
    margin-top: 50%;
    display: inline-flex;
}
