/*About page*/
img.about-banner {
  width: 100%;
  position: relative;
}

img.gap {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
}

/*Products Page*/
img.products-banner {
  width: 100%;
  position: relative;
}

img.products {
  position: absolute;
  margin-left: 25%;
  margin-right: auto;
  top: 20%;
}

/*Index page*/
.nav {
  padding-right: 5%;
  margin-top: 1%;
}

.navbar-fixed-top {
  position: absolute;
}

.navbar-default {
  background: none;
  border: none;
}

.nav-tabs {
  float: right;
  border: none;
}

h1.logo {
  margin-left: 5%;
  display: inline-block;
  color: white;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  font-size: 16px;
  padding-right: 10px;
  color: white;
}

.nav-tabs>li>a {
  color: white;
}

.header {
  width: 100%;
  display: block;
}

img.banner {
  width: 100%;
  position: absolute;
}

img.name {
  height: 25%;
  top: 50%;
  position: absolute;
  left: 3%;
}

.header>h3 {
  position: absolute;
  left: 10%;
  bottom: 12%;
  color: black;
  font-size: 28px;
}

div.about-1 {
  position: absolute;
  margin-top: 50%;
  display: inline-flex;
  height: 60vh;
}

#cycle {
  margin-top: 45%;
  margin-left: 60%;
  height: 240%;
  width: 240%;
}

div.description {
  margin-top: 5%;
  float: right;
  text-align: center;
}

div.description>p {
  font-size: 16px;
}

div.about-2 {
  margin-top: 85%;
  height: 75%;
  /*bottom: 0;*/
  background-color: rgb(17, 23, 78);
  text-align: center;
  margin-bottom: 10%;
}

div.about-2>div>h3 {
  color: white;
  text-align: center;
}

.brands {
  display: flex;
}

.img-circle {
  height: 150px;
  width: 150px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  padding: 15px;
}

img.bottom-banner {
  width: 100%;
  position: absolute;
}

.contact-icons {
  text-align: center;
  margin-bottom: 8%;
  display: flex;
  justify-content: space-between;
}

span.glyphicon {
  font-size: 72px;
  text-align: center;
  background-color: rgb(17, 23, 78);
  color: white;
  border-radius: 90%;
  padding: 2%;
}
